<!doctype html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"  xml:lang="vi">


    <head>
        <meta charset="utf-8" />
        <title>Page-name</title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
        <meta name="theme-color" content="#0099ff" />

        <meta http-equiv="Content-Language" content="VN" />
        <meta name="description" content="Page-name" />
        <meta name="keywords" content="" />
        <meta property="og:url" name="og:url" content="" data-app/>
        <meta property="og:type" name="og:type" content="website" data-app/>
        <meta property="og:description" name="og:description" content="Page-name" data-app/>
        <meta property="og:title" name="og:title" content="Page-name" data-app/>

        <meta property="og:image" name="og:image" content="/uploaded/logo/logo.png" data-app>
        <meta property="og:image:alt" name="og:image:alt" content="/uploaded/logo/logo.png" data-app>
        <link href="/favicon.ico" rel="shortcut icon" />        

     
        <link rel="stylesheet" type="text/css" href="/css/style.css" />

        <link rel="stylesheet" type="text/css" href="/css/grid.css" />
        <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/css/swiper.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       
        <link rel="stylesheet" type="text/css" href="/css/font.css" />
        <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
        <link rel="stylesheet" href="/css/jquery-ui.css" />

        <link rel="stylesheet" href="/css/jquery.fancybox.css" />
        <link rel="stylesheet" href="/css/hover.css" />
        <script src="/js/jquery-1.10.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/js/swiper.min.js"></script>

        

        

    </head>    


<body>



<div id="page">


    <!-- header pc -->
    <header class="header hide-on-pad hide-on-tab">
      <div class="grid">
        
        <div class="flex-container align-center">
          <div class="cell-5-12">
               <div class="menu-left"> 
                  <div class="menubar">
                    <ul class="nav  hide-on-mobile">
                      <li class=" ">
                          <a href="/" class="">
                              <span style="background-image:url()"> Giới thiệu</span>
                          </a>
                      </li>
                      
                      <li class=" ">
                          <a href="/" class=""><span style="background-image:url()"> Dịch vụ    </span></a>
                          <ul class="submnu1" style="display: none;">
                              <li class="">
                                <a href="/phat-trien-dien-nang/">Wedding planning</a>
                              </li>
                              <li class="">
                                <a href="/dau-tu-bat-dong-san/">Trang trí tiệc cưới</a>
                              </li>
                          </ul>
                      </li>
                      <li class=" ">
                        <a href="/" class="">
                            <span style="background-image:url()">Thư viện ảnh</span>
                        </a>
                      </li>
                     
                  </ul>
                  </div>
               </div>
          </div>
            <div class="cell-2-12">
              <div class="logo">
                <a href="/">
                  <img src="/uploaded/logo/logo.png" alt="LogoSite"
                    style="max-width:100%; margin:0 auto"></a>
                </div>
            </div>
           <div class="cell-5-12">
            <div class="menubar">
              <ul class="nav  hide-on-mobile">

                  <li class=" ">
                    <a href="/" class=""><span style="background-image:url()"> Blog </span> </a>
                  </li>
                  <li class=" ">
                    <a href="/" class="">
                        <span style="background-image:url()">Hỏi đáp</span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="/" class="">
                        <span style="background-image:url()">Liên hệ</span>
                    </a>
                  </li>
              </ul>
              
           </div>
          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">
      <div class="mobile-bar hide-on-pc">
        <div class="grid">
            <div class="flex-container align-center">
                <div class="cell-1-3">
                   
                    <a class="menu-mobile" href="#menu">
                      <i class="fas fa-bars"></i>
                   </a>
                   
                </div>
                <div class="cell-1-3">
                 
                  <div class="logo">
                      <a href="/">
                        <img src="/uploaded/logo/Logo_full 1.png" alt="Logo web" style="max-width: 100%; margin: 0 auto" />
                      </a>
                  </div>
                 
              </div>
            
                <div class="icon-search search-mb" >
                  <i class="fa fa-search search-iconmb" aria-hidden="true"></i>
                    <div class="frm-search-mb" style="">
                     <form action="/search/" method="get" id="searchformtab">
                        <input name="qr" class="kw-mobile" placeholder="Tìm kiếm " type="text">
                        <a href="#" class="submit-search-pc" onClick="$('#searchformtab').submit(); return false;"> 
                          <i class="fa fa-search" aria-hidden="true"></i> </a>
  
                        <a href="#" class="closeX" onClick="$('.frm-search-mb').hide(); return false;">&#10005;</a>        
                      </form>
                    </div> 
                    
                    <script>
                      $(document).ready(function () {
                      $(".search-iconmb").click(function () {
                        $(".frm-search-mb").stop().slideToggle("fast");
                        return false;
                      });
                      });
                    </script>  	
                   </div>
               
            </div>
            </div>
        </div>
        <div class="c"></div>
      
    </header>
    <!-- content -->
    <div class="content">
      
    <!-- slideshow -->

    <div class="newsdetail-wrapper">
        <div class="c30"></div>
        <div class="c20"></div>
        <div class="c30"></div>
        <div class="c20"></div>
        <div class="c30"></div>
        <div class="c20"></div>
        <div class="grid">
            <div class="newsdetail">
                <b>
                    Như thế nào là một đám cưới không bao giờ lỗi mốt, Phi Điệp Wedding không dám khẳng định một phong cách đám cưới nào có thể không lỗi mốt trong tương lai tới đây nhưng có một phong cách đám cưới đã phổ biến từ rất lâu cho tới tận ngày nay vẫn có rất nhiều cặp đôi lựa chọn là đám cưới với ý tưởng trong tông màu trung tính, đây là gam màu đi với thời gian mang hướng thanh lịch, tinh tế và đôi chút quyến rũ, chắc chắn những tông màu này là ý tưởng tuyệt vời và nó luôn là xu hướng tổ chức không chỉ trong năm 2023. 
                </b>
                <div class="c30"></div>
                <h2>
                    1.Xác định tông màu chủ đạo xuyên suốt lễ cưới
                </h2>
                <div class="c5"></div>
                <p>
                    Việc xác định tông màu chủ đạo là việc làm đầu tiên khi thực hiện kế hoạch đám cưới. Với gam màu trung tính, không khó để kết hợp mọi thứ lại với nhau, việc cần làm là xác định bảng màu, xác định địa điểm có không gian phù hợp và thực hiện. Bảng màu trung tính trong lễ cưới thường các màu như be, xám, xanh bơ, trắng… Nếu địa điểm có không gian tự nhiên như có cây xanh hay mặt nước thì đây là sự kết hợp tuyệt vời.


                </p>
                <div class="c10"></div>
                <h2>
                    2.Thiệp cưới trang nhã
                </h2>
                <div class="c5"></div>
                Điều mà khách mời cảm nhận đầu tiên là tấm thiệp cưới. Tấm thiệp cưới gửi tới khách mời sẽ là ấn tượng trước tiên về đám cưới và cảm nhận về tổng quan lễ cưới của bạn dựa trên các thông tin trên lễ cưới và phong cách thiết kế của thiệp cưới. Thiệp mời cưới nên là cùng một tông màu sắc và phong cách của ngày trọng đại, bắt đầu với gam màu trung tính, đơn sắc mang hướng tinh tế và sang trọng như màu xám, kem và be. Bên cạnh thiệp cưới còn những phụ kiện đi kèm nó là những văn phòng phẩm cũng đồng điệu với nó để tổng thể thiệp mời cưới sẽ hài hòa hơn nữa.
            
                <div class="c10"></div>
                <img src="/uploaded/dichvu/item1.jpg" alt="">
                <div class="c10"></div>
                <div class="c10"></div>
                <h2>
                    3.Bánh kem trắng đơn giản
                </h2>
                <div class="c5"></div>
                Ý tưởng tiếp theo trong đám cưới với gam màu trung tính là một chiếc bánh trắng đơn giản không cần trang trí cầu kỳ. Với phong cách nhẹ nhàng, thanh lịch thì một chiếc bánh phức tạp đa màu sắc sẽ không có chỗ ở đây. Bánh càng đơn sắc, càng đơn giản sẽ phù hợp hơn với kiểu đám cưới như thế này.
                <div class="c10"></div>
                <h2>
                    4.Trang trí bàn ăn
                </h2>
                <div class="c5"></div>
                Có thể trang trí bàn ăn với gam màu trung tính bằng khăn trải bàn màu sáng nhẹ nhàng như màu trắng, màu kem… điểm thêm trên bàn ăn là lá cây nhiệt đới để thêm thắt sự tự nhiên vào tổng thể. Những chi tiết trên bàn ăn dù nhỏ nhưng lại góp phần rất lớn đến tổng thể đám cưới, vậy nên cặp đôi cũng cần thiết kế phong cách của bàn ăn sao cho phù hợp, tự nhiên hơn.
                    <div class="c10"></div>  
                <h2>
                        
                    6.Trang trí trần nhà
                    </h2>
                    
                    <div class="c5"></div>
                    Nếu với không gian ngoài trời thì không cần thiết phải trang trí trần cao bởi không gian tự nhiên xung quanh sẽ bổ sung thêm cho đám cưới thêm ấn tượng. Nhưng với đám cưới ở trong nhà có thể trang trí thêm cây leo để lễ cưới thêm hiện đại và ấn tượng hơn, ngoài ra có thể treo hoa, cỏ, lá lên trên để thêm phần tươi mới, rực rỡ.
                    <div class="c10"></div>
                
                    <img src="/uploaded/dichvu/item2.jpg" alt="">
                    <div class="c10"></div>
                    <div class="c10"></div>
                    <h2>
                        
                        7.Trang trí lối đi bằng cỏ bông
                        </h2>
                    <div class="c5"></div>
                    Bạn có hình dung được lối đi bằng cỏ bông nhẹ nhàng và lãng mạn xuất hiện trong lễ cưới của mình. Cỏ bông với kết cấu mềm mại sẽ tạo nên sự lả lướt và nhẹ nhàng trong lễ cưới, đây là ý tưởng thú vị để bổ sung cho tông mài tring tính của không gian đám cưới mà cặp đôi có thể thử nó.
 
                   
           </div>
        </div>
        <div class="c30"></div>
        <div class="c20"></div>
        <div class="c30"></div>
        <div class="c20"></div>
    </div>
   
    <!-- end content -->
    

    </div>
    <!-- footer -->
    <footer class="footer">
     <div class="c30"></div>
     <div class="grid">
      <div class="footer-main">
        

          <ul class="footer-social">
            
         
            <li class="youtube  hvr-float">
              <a href="#" class="footer-social__item">
                <i class="fab fa-pinterest"></i>
              </a>
            </li>
            <li class="facebook  hvr-float">
              <a href="#" class="footer-social__item">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="instagram  hvr-float">
              <a href="" class="footer-social__item">
                <i class="fab fa-instagram-square"></i>
              </a>
            </li>
           
          </ul>
        
            <div class="footer-block">
              <ul class="menuboxfooter" id="boxcol5">
                  
                  <!-- <li><a href="#">Dịch vụ cưới hỏi</a></li>
                  <li><a href="#"> Đào tạo nghề</a></li>
                  <li><a href="#"> Trang trí gia tiên </a></li> -->
                  <li><a href="#"> Wedding Planning</a></li>
                  <li><a href="#"> Wedding Decor </a></li>
                  <li><a href="#"> Destination Wedding </a></li>
              </ul>
              <div class="c10"></div>
         
          </div>
        </div>
        <div class="c30"></div>
        <!-- <div class="footer-copyright">
          <div class="grid">
            Copyright © 2023 companys
          </div>
        </div> -->
           
        </div>
      

     
    </footer>
    <!-- end footer -->
</div>


  <script src="/js/jquery.fancybox.js"></script>
 
  
  <script src="/js/script.js"></script>

  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>

  
</body>

</html>
 