<!doctype html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"  xml:lang="vi">


    <head>
        <meta charset="utf-8" />
        <title>Page-name</title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
        <meta name="theme-color" content="#0099ff" />

        <meta http-equiv="Content-Language" content="VN" />
        <meta name="description" content="Page-name" />
        <meta name="keywords" content="" />
        <meta property="og:url" name="og:url" content="" data-app/>
        <meta property="og:type" name="og:type" content="website" data-app/>
        <meta property="og:description" name="og:description" content="Page-name" data-app/>
        <meta property="og:title" name="og:title" content="Page-name" data-app/>

        <meta property="og:image" name="og:image" content="/uploaded/logo/logo.png" data-app>
        <meta property="og:image:alt" name="og:image:alt" content="/uploaded/logo/logo.png" data-app>
        <link href="/favicon.ico" rel="shortcut icon" />        

     
        <link rel="stylesheet" type="text/css" href="/css/style.css" />

        <link rel="stylesheet" type="text/css" href="/css/grid.css" />
        <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/css/swiper.min.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       
        <link rel="stylesheet" type="text/css" href="/css/font.css" />
        <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
        <link rel="stylesheet" href="/css/jquery-ui.css" />

        <link rel="stylesheet" href="/css/jquery.fancybox.css" />
        <link rel="stylesheet" href="/css/hover.css" />
        <script src="/js/jquery-1.10.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/js/swiper.min.js"></script>

        

        

    </head>    


<body>



<div id="page">


    <!-- header pc -->
    <header class="header hide-on-pad hide-on-tab">
      <div class="grid">
        
        <div class="flex-container align-center">
          <div class="cell-5-12">
               <div class="menu-left"> 
                  <div class="menubar">
                    <ul class="nav  hide-on-mobile">
                      <li class=" ">
                          <a href="/" class="">
                              <span style="background-image:url()"> Giới thiệu</span>
                          </a>
                      </li>
                      
                      <li class=" ">
                          <a href="/" class=""><span style="background-image:url()"> Dịch vụ    </span></a>
                          <ul class="submnu1" style="display: none;">
                              <li class="">
                                <a href="/phat-trien-dien-nang/">Wedding planning</a>
                              </li>
                              <li class="">
                                <a href="/dau-tu-bat-dong-san/">Trang trí tiệc cưới</a>
                              </li>
                          </ul>
                      </li>
                      <li class=" ">
                        <a href="/" class="">
                            <span style="background-image:url()">Thư viện ảnh</span>
                        </a>
                      </li>
                     
                  </ul>
                  </div>
               </div>
          </div>
            <div class="cell-2-12">
              <div class="logo">
                <a href="/">
                  <img src="/uploaded/logo/logo.png" alt="LogoSite"
                    style="max-width:100%; margin:0 auto"></a>
                </div>
            </div>
           <div class="cell-5-12">
            <div class="menubar">
              <ul class="nav  hide-on-mobile">

                  <li class=" ">
                    <a href="/" class=""><span style="background-image:url()"> Blog </span> </a>
                  </li>
                  <li class=" ">
                    <a href="/" class="">
                        <span style="background-image:url()">Hỏi đáp</span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="/" class="">
                        <span style="background-image:url()">Liên hệ</span>
                    </a>
                  </li>
              </ul>
              
           </div>
          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">
      <div class="mobile-bar hide-on-pc">
        <div class="grid">
            <div class="flex-container align-center">
                <div class="cell-1-3">
                   
                    <a class="menu-mobile" href="#menu">
                      <i class="fas fa-bars"></i>
                   </a>
                   
                </div>
                <div class="cell-1-3">
                 
                  <div class="logo">
                      <a href="/">
                        <img src="/uploaded/logo/Logo_full 1.png" alt="Logo web" style="max-width: 100%; margin: 0 auto" />
                      </a>
                  </div>
                 
              </div>
            
                <div class="icon-search search-mb" >
                  <i class="fa fa-search search-iconmb" aria-hidden="true"></i>
                    <div class="frm-search-mb" style="">
                     <form action="/search/" method="get" id="searchformtab">
                        <input name="qr" class="kw-mobile" placeholder="Tìm kiếm " type="text">
                        <a href="#" class="submit-search-pc" onClick="$('#searchformtab').submit(); return false;"> 
                          <i class="fa fa-search" aria-hidden="true"></i> </a>
  
                        <a href="#" class="closeX" onClick="$('.frm-search-mb').hide(); return false;">&#10005;</a>        
                      </form>
                    </div> 
                    
                    <script>
                      $(document).ready(function () {
                      $(".search-iconmb").click(function () {
                        $(".frm-search-mb").stop().slideToggle("fast");
                        return false;
                      });
                      });
                    </script>  	
                   </div>
               
            </div>
            </div>
        </div>
        <div class="c"></div>
      
    </header>
    <!-- content -->
    <div class="content">
      
    <!-- slideshow -->
        <div class="img-poster">
                <img src="/uploaded/pic-cat/item2.jpg" width="100%" alt="">
        </div>
        <div class="partner-wrapper">
            <div class="c30"></div>
            <div class="c30"></div>
           
            
            <div class="grid">
                <div class="homecat-title text-center">
                    Đối tác của chúng tôi
                </div>
                <div class="c30"></div>
                <div class="flex-container">

                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2 partnerlist-item">
                        <div class="">
                            <div class="partnerlist-item--image">
                                <a href="#" target="_blank">
                                    <img src="/uploaded/doitac/item1.jpg" alt="Hacchic">
                                </a>
                            </div>
        
                            <div class="partnerlist-item--name">
                                <a href="#" class="text-line-2" target="_blank">Pullman Phú Quốc</a>
                            </div>
        
                        </div>
                    </div>
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2 partnerlist-item">
                        <div class="">
                            <div class="partnerlist-item--image">
                                <a href="#" target="_blank">
                                    <img src="/uploaded/doitac/item2.jpg" alt="Hacchic">
                                </a>
                            </div>
        
                            <div class="partnerlist-item--name">
                                <a href="#" class="text-line-2" target="_blank">Pullman Phú Quốc</a>
                            </div>
        
                        </div>
                    </div>
                    
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2 partnerlist-item">
                        <div class="">
                            <div class="partnerlist-item--image">
                                <a href="#" target="_blank">
                                    <img src="/uploaded/doitac/item3.jpg" alt="Hacchic">
                                </a>
                            </div>
        
                            <div class="partnerlist-item--name">
                                <a href="#" class="text-line-2" target="_blank">Pullman Phú Quốc</a>
                            </div>
        
                        </div>
                    </div>
                    
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2 partnerlist-item">
                        <div class="">
                            <div class="partnerlist-item--image">
                                <a href="#" target="_blank">
                                    <img src="/uploaded/doitac/item1.jpg" alt="Hacchic">
                                </a>
                            </div>
        
                            <div class="partnerlist-item--name">
                                <a href="#" class="text-line-2" target="_blank">Pullman Phú Quốc</a>
                            </div>
        
                        </div>
                    </div>
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2 partnerlist-item">
                        <div class="">
                            <div class="partnerlist-item--image">
                                <a href="#" target="_blank">
                                    <img src="/uploaded/doitac/item2.jpg" alt="Hacchic">
                                </a>
                            </div>
        
                            <div class="partnerlist-item--name">
                                <a href="#" class="text-line-2" target="_blank">Pullman Phú Quốc</a>
                            </div>
        
                        </div>
                    </div>
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2 partnerlist-item">
                        <div class="">
                            <div class="partnerlist-item--image">
                                <a href="#" target="_blank">
                                    <img src="/uploaded/doitac/item3.jpg" alt="Hacchic">
                                </a>
                            </div>
        
                            <div class="partnerlist-item--name">
                                <a href="#" class="text-line-2" target="_blank">Pullman Phú Quốc</a>
                            </div>
        
                        </div>
                    </div>
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2 partnerlist-item">
                        <div class="">
                            <div class="partnerlist-item--image">
                                <a href="#" target="_blank">
                                    <img src="/uploaded/doitac/item4.png" alt="Hacchic">
                                </a>
                            </div>
        
                            <div class="partnerlist-item--name">
                                <a href="#" class="text-line-2" target="_blank">Pullman Phú Quốc</a>
                            </div>
        
                        </div>
                    </div>
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2 partnerlist-item">
                        <div class="">
                            <div class="partnerlist-item--image">
                                <a href="#" target="_blank">
                                    <img src="/uploaded/doitac/item2.jpg" alt="Hacchic">
                                </a>
                            </div>
        
                            <div class="partnerlist-item--name">
                                <a href="#" class="text-line-2" target="_blank">Pullman Phú Quốc</a>
                            </div>
        
                        </div>
                    </div>
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2 partnerlist-item">
                        <div class="">
                            <div class="partnerlist-item--image">
                                <a href="#" target="_blank">
                                    <img src="/uploaded/doitac/item5.png" alt="Hacchic">
                                </a>
                            </div>
        
                            <div class="partnerlist-item--name">
                                <a href="#" class="text-line-2" target="_blank">Pullman Phú Quốc</a>
                            </div>
        
                        </div>
                    </div>
                    
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2 partnerlist-item">
                        <div class="">
                            <div class="partnerlist-item--image">
                                <a href="#" target="_blank">
                                    <img src="/uploaded/doitac/item3.jpg" alt="Hacchic">
                                </a>
                            </div>
        
                            <div class="partnerlist-item--name">
                                <a href="#" class="text-line-2" target="_blank">Pullman Phú Quốc</a>
                            </div>
        
                        </div>
                    </div>
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2 partnerlist-item">
                        <div class="">
                            <div class="partnerlist-item--image">
                                <a href="#" target="_blank">
                                    <img src="/uploaded/doitac/item3.jpg" alt="Hacchic">
                                </a>
                            </div>
        
                            <div class="partnerlist-item--name">
                                <a href="#" class="text-line-2" target="_blank">Pullman Phú Quốc</a>
                            </div>
        
                        </div>
                    </div>
                    
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2 partnerlist-item">
                        <div class="">
                            <div class="partnerlist-item--image">
                                <a href="#" target="_blank">
                                    <img src="/uploaded/doitac/item1.jpg" alt="Hacchic">
                                </a>
                            </div>
        
                            <div class="partnerlist-item--name">
                                <a href="#" class="text-line-2" target="_blank">Pullman Phú Quốc</a>
                            </div>
        
                        </div>
                    </div>
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2 partnerlist-item">
                        <div class="">
                            <div class="partnerlist-item--image">
                                <a href="#" target="_blank">
                                    <img src="/uploaded/doitac/item2.jpg" alt="Hacchic">
                                </a>
                            </div>
        
                            <div class="partnerlist-item--name">
                                <a href="#" class="text-line-2" target="_blank">Pullman Phú Quốc</a>
                            </div>
        
                        </div>
                    </div>
                    
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2 partnerlist-item">
                        <div class="">
                            <div class="partnerlist-item--image">
                                <a href="#" target="_blank">
                                    <img src="/uploaded/doitac/item5.png" alt="Hacchic">
                                </a>
                            </div>
        
                            <div class="partnerlist-item--name">
                                <a href="#" class="text-line-2" target="_blank">Pullman Phú Quốc</a>
                            </div>
        
                        </div>
                    </div>
                    
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2 partnerlist-item">
                        <div class="">
                            <div class="partnerlist-item--image">
                                <a href="#" target="_blank">
                                    <img src="/uploaded/doitac/item1.jpg" alt="Hacchic">
                                </a>
                            </div>
        
                            <div class="partnerlist-item--name">
                                <a href="#" class="text-line-2" target="_blank">Pullman Phú Quốc</a>
                            </div>
        
                        </div>
                    </div>
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2 partnerlist-item">
                        <div class="">
                            <div class="partnerlist-item--image">
                                <a href="#" target="_blank">
                                    <img src="/uploaded/doitac/item2.jpg" alt="Hacchic">
                                </a>
                            </div>
        
                            <div class="partnerlist-item--name">
                                <a href="#" class="text-line-2" target="_blank">Pullman Phú Quốc</a>
                            </div>
        
                        </div>
                    </div>
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2 partnerlist-item">
                        <div class="">
                            <div class="partnerlist-item--image">
                                <a href="#" target="_blank">
                                    <img src="/uploaded/doitac/item3.jpg" alt="Hacchic">
                                </a>
                            </div>
        
                            <div class="partnerlist-item--name">
                                <a href="#" class="text-line-2" target="_blank">Pullman Phú Quốc</a>
                            </div>
        
                        </div>
                    </div>
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2 partnerlist-item">
                        <div class="">
                            <div class="partnerlist-item--image">
                                <a href="#" target="_blank">
                                    <img src="/uploaded/doitac/item2.jpg" alt="Hacchic">
                                </a>
                            </div>
        
                            <div class="partnerlist-item--name">
                                <a href="#" class="text-line-2" target="_blank">Pullman Phú Quốc</a>
                            </div>
        
                        </div>
                    </div>
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2 partnerlist-item">
                        <div class="">
                            <div class="partnerlist-item--image">
                                <a href="#" target="_blank">
                                    <img src="/uploaded/doitac/item3.jpg" alt="Hacchic">
                                </a>
                            </div>
        
                            <div class="partnerlist-item--name">
                                <a href="#" class="text-line-2" target="_blank">Pullman Phú Quốc</a>
                            </div>
        
                        </div>
                    </div>
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2 partnerlist-item">
                        <div class="">
                            <div class="partnerlist-item--image">
                                <a href="#" target="_blank">
                                    <img src="/uploaded/doitac/item4.png" alt="Hacchic">
                                </a>
                            </div>
        
                            <div class="partnerlist-item--name">
                                <a href="#" class="text-line-2" target="_blank">Pullman Phú Quốc</a>
                            </div>
        
                        </div>
                    </div>
               
               
               
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2"></div>
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2"></div>
                    <div class="cell-1-4 pad-cell-1-3 tab-cell-1-2"></div>
        
        
        
        
                </div>
            </div>
        </div>
        <div class="c30"></div>
        <div class="c20 hide-on-mobile"></div>
    </div>
    <!-- end content -->
    

    </div>
    <!-- footer -->
    <footer class="footer">
     <div class="c30"></div>
     <div class="grid">
      <div class="footer-main">
        

          <ul class="footer-social">
            
         
            <li class="youtube  hvr-float">
              <a href="#" class="footer-social__item">
                <i class="fab fa-pinterest"></i>
              </a>
            </li>
            <li class="facebook  hvr-float">
              <a href="#" class="footer-social__item">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="instagram  hvr-float">
              <a href="" class="footer-social__item">
                <i class="fab fa-instagram-square"></i>
              </a>
            </li>
           
          </ul>
        
            <div class="footer-block">
              <ul class="menuboxfooter" id="boxcol5">
                  
                  <!-- <li><a href="#">Dịch vụ cưới hỏi</a></li>
                  <li><a href="#"> Đào tạo nghề</a></li>
                  <li><a href="#"> Trang trí gia tiên </a></li> -->
                  <li><a href="#"> Wedding Planning</a></li>
                  <li><a href="#"> Wedding Decor </a></li>
                  <li><a href="#"> Destination Wedding </a></li>
              </ul>
              <div class="c10"></div>
         
          </div>
        </div>
        <div class="c30"></div>
        <!-- <div class="footer-copyright">
          <div class="grid">
            Copyright © 2023 companys
          </div>
        </div> -->
           
        </div>
      

     
    </footer>
    <!-- end footer -->
</div>


  <script src="/js/jquery.fancybox.js"></script>
 
  
  <script src="/js/script.js"></script>

  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>

  
</body>

</html>
 